.DevSkills h2{
    margin: 50px 20px 30px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(104.74deg, #050A27 0%,#4A548C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.DevHeader{
    max-width: 800px;
    margin: 10px auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items:center;
}

.DevHeader Button {
    font-size: 18px;
    color: black;
    font-weight: 600;
    background: none; 
    padding: 0;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid transparent;
    transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.DevHeader Button:hover{
    border-bottom: 2px solid #9d9ea7;
}

.DevGroup {
    margin: 30px 200px 250px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    opacity: 0;
    animation: CardAnimation 3s 0.6s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

@media (max-width: 1150px) {
    .DevGroup{
        grid-template-columns: repeat(2, auto);
        margin: 30px 100px 250px;
    }
}

@media (max-width: 920px) {
    .DevGroup{
        margin: 30px 20px 250px;
    }
}

@media (max-width: 600px) {
    .DevGroup{
        grid-template-columns: 1fr;
        margin: 30px 50px 250px;
    }

    .DevHeader Button {
        font-size: 17px;
    }
}

@keyframes CardAnimation {
    0%{
      opacity: 0;
      transform: translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  

  @media (max-width: 450px){ 
    .DevSkills h2{
        font-size: 45px;
    }
    .DevHeader Button {
        font-size: 15px;
    }
  }