.Main {
    position: relative;
    height: 980px;
    background-image: url('../../images/main-wallpaper.png');
    background-size: cover;
    background-position: center;
}


.MainGroup{
    margin: 0 auto;
    max-width: 500px;
    padding: 515px 50px 200px;
    text-align: center;
}

.MainGroup h1{
    margin: 0;
    color: white;
    font-size: 40px;
    line-height: 1.5;
}

.MainHello, .MainName {
    font-size: 45px;
    opacity: 0;
}

.MainHello{
    animation: MainAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.MainName{
    animation: MainAnimation 3s 0.6s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}


.MainSubtitle {
    opacity: 0;
    animation: MainAnimation 3s 1.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.MainGroup p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    line-height: 1.4;
}

.links {
    padding: 25px 0;
    display: block;
    line-height: 2;
}

.links a {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 1);
    padding: 9px 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    text-decoration: none;
    position: relative;
    z-index: 50;
}

.links a:hover {
    background: white;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.25);
}


.Main svg {
    position: absolute;
    bottom: 0;
    left: 0;
}



@keyframes MainAnimation {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 567px) {
    .MainGroup{
        padding: 530px 50px 50px;
    }
    .MainGroup h1{
        font-size: 35px;
    }
}

@media (max-width: 450px){ 
    .MainGroup {
        padding: 515px 30px 200px;
    }

    .MainHello, .MainName{
        font-size: 37px;
    }
    .MainSubtitle {
        font-size: 30px;
    }
    .MainGroup p {
        font-size: 26px;
    }
/* 
    .links a{
        padding: 35px 0;
    } */

}