.Header{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}
.HeaderGroup img {
    width: 60px;
    pointer-events: none;
}

.HeaderGroup  a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.HeaderGroup Button {
    padding: 8px 20px;
    border: none;
    background-color: rgb(0, 189, 214);
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.HeaderGroup  Button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.HeaderScroll{
    background: rgba(0, 0, 0, 0.877);
    padding: 15px 0;
    backdrop-filter: blur(20px); /*solo en safari*/
}

@media (max-width: 640px) {
    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }
    .HeaderGroup > a:nth-of-type(2) {
        display: none;
    }
}


@media (max-width: 450px){

    .HeaderGroup img{
        width: 50px;
    }

    .HeaderGroup a {
        font-size: 17px;
        font-weight: 700;
    }

    .HeaderGroup Button {
        padding: 6px 18px;
        font-weight: 700;
    }
}